kafka-python==2.0.6
fastapi==0.115.6
uvicorn==0.34.0
python-dotenv==1.0.1
groq==0.9.0
sentence-transformers==3.3.1
joblib==1.3.2
pandas==2.2.3
scikit-learn==1.6.0
#vllm==0.7.3
torch==2.6.0
torchvision==0.21.0 
torchaudio==2.6.0
transformers>=4.49.0
pydantic==2.10.0
boto3==1.35.55
ipykernel==6.29.5
skl2onnx==1.18.0
onnxruntime==1.21.0
websockets==15.0.1
websocket-client==1.8.0
accelerate>=1.5.2
outlines>=0.2.1
boto3==1.35.55 
botocore==1.35.55
instructlab==0.26.1
faiss-cpu